/* Build out your custom CSS here */

/*style container for the masthead*/
header{
    display: inline-flex;
    height: 40px;
}
/*center, color and align the entire header text*/
h1{
    background-color: #0065a4;
    color: white;
    margin: 0px;
    padding: 0px 10px;
    display: flex;
    align-items: center;
    font-family: 'Lato', sans-serif;

/*Change font color for the word "the"*/
}
#the{
    color:#5fcff4;
}